extends dashboard

block extraFooterScripts
  script(async src="/js/libs/axios.min.js")
  script(async src="/js/adminMixtapeForm.js")

block lightbox
  if mixtape
    .lightbox
      .lightbox__modal.lightbox__modal--delete-video
        h4 Delete this mixtape?
        p You can't undo this action 
        p.grey (unless you call Lewis)
        a.button.button__danger(href=(`/admin/mixtapes/delete/${mixtape._id}`)) Delete
        .button.lightbox__modal--cancel Cancel

block dashboardContent
  .back-links.dashboard__filter     
    div
      a.back-links__link.underline-hover(href="/admin/mixtapes") << Back to all Mixtapes
    if mixtape
      a.back-links__link.underline-hover(href=(`/mixtapes/${mixtape._id}`)) View Public Page
      a.button.button__danger#dashboard__edit-video--delete
        img(src="/images/icons/trash.svg")
        div Delete Mixtape
  form.dashboard__edit-article(method="POST")
    div
      label Title
      input(type="text" name="title" value=(mixtape ? mixtape.title : "") required)
      label Artists
      label.grey Separate multiple artists with a comma
      input(type="text" name="artists" value=(mixtape ? mixtape.artistList : "") required)
      label Description
      textarea(name="description" rows="5")= mixtape ? mixtape.description : ""
      label Track List
      label.grey Drag and drop to re-arrange
      .mixtapes__track-listing.admin
        if mixtape
          for track, index in mixtape.trackListing
            .mixtapes__track-listing--entry(draggable="true" ondragstart="dragTrack(event)" ondragover="allowDrop(event)"    ondrop="dropTrack(event)" data-key=index)
              .mixtapes__track-listing--entry--number= index
              input.mixtapes__track-listing--entry--title(type="text" value=track.title)
              input.mixtapes__track-listing--entry--duration(type="text" value=track.duration)
              .mixtapes__track-listing--entry--delete ✕
      p.mixtapes__track-listing--add-track Add Track
      label Release Date
      -
        const date = mixtape ? 
          moment(mixtape.releaseDate).format("YYYY-MM-DD") : 
          moment().format("YYYY-MM-DD")          
      input(type="date" name="releaseDate" value=(date))
      .checkbox
        input(type="checkbox" name="published" checked=(mixtape && mixtape.published))
        label Published
      .progress-bar.hidden
        h5 Uploading files... #[span.progress-bar__percent-completed]
        progress(value="0" max="100") Test
      .form-errors
      button.button__green(type="submit")=(mixtape ? "Edit mixtape" : "Add mixtape")
    div
      label Upload Mixtape
      label.grey ZIP file containing MP3s
      input(type="file" name="zip" accept=".zip" required=(mixtape ? false : true))
      label Mixtape Artwork
      label.grey Artwork will be cropped to square ratio when uploaded
      input(type="file" accept="image/*" name="coverImage")
      img.dashboard__edit-mixtape--artwork(src=(mixtape && mixtape.coverAvailable ? `/images/mixtapes/${mixtape._id}/large.jpg` : "/images/mixtapes/mixtape-default.png"))