extends dashboard

block extraFooterScripts
  script(async src=hashes.adminVideoForm)
  script(async src="/js/libs/axios.min.js")

block lightbox
  if video
    .lightbox
      .lightbox__modal.lightbox__modal--delete-video
        h4 Delete this video?
        p You can't undo this action 
        p.grey (unless you call Lewis)
        a.button.button__danger(href=(`/admin/videos/delete/${video.youtubeId}`)) Delete
        .button.lightbox__modal--cancel Cancel

block dashboardContent
  .back-links.dashboard__filter     
    div
      a.back-links__link.underline-hover(href="/admin/videos") << Back to all Videos
    if video
      a.back-links__link.underline-hover(href=(`/videos/id/${video.youtubeId}`)) View Public Page
      a.button.button__danger#dashboard__edit-video--delete
        img(src="/images/icons/trash.svg")
        div Delete Video
  form.dashboard__edit-video--load-youtube-form
    label Youtube ID
    div.dashboard__edit-video--load-youtube-form--input
      div
        input(type="text" name="youtubeId" placeholder="e.g. NPISpyfJnzI" disabled=(video ? true : false) value=(video ? video.youtubeId : ""))
        div.dashboard__edit-video--load-youtube-form--input--error
      button(type="submit").dashboard__edit-video--load-youtube-form--button 
        img(src="/images/icons/youtube-logo-white.svg")
        div=(video ? "Reload Data" : "Load Data")
  form.dashboard__edit-video--youtube-data(class=(video ? "" : "disabled"))
    div
      label Title
      input(type="text" name="title" value=(video ? video.title : "") required)
      label Description
      textarea(type="text" name="description" rows="10" required)=(video ? video.description : "")
      label Category
      select(name="category" required)
        option(value="music-video" selected=(video && video.category === "music-video" ? true : false)) Music Video
        option(value="p110-premiere" selected=(video && video.category === "p110-premiere" ? true : false)) P110 Premiere
        option(value="scene-smasher" selected=(video && video.category === "scene-smasher" ? true : false)) Scene Smasher
        option(value="1take" selected=(video && video.category === "1take" ? true : false)) 1Take
        option(value="hoods-hottest" selected=(video && video.category === "hoods-hottest" ? true : false)) Hoods Hottest
      .checkbox
        input(type="checkbox" name="featured" checked=(featured) disabled=(featured))
        label Set as featured video
      button.button__green(type="submit")=(video ? "Edit Video" : "Add Video")
    div
      label Cover Image
      p.grey Images are hosted by Youtube – make sure the video has a 1280x720 thumbnail in its Youtube settings if you want to use it as a Featured Video. 
      img(src=(video ? `https://i.ytimg.com/vi/${video.youtubeId}/maxresdefault.jpg` : ""))