extends layout

block body
  section.promoted.container
    .promoted__left-column
      if featuredVideo
        a.youtube-embed(href=(admin ? `/admin/videos/edit/${featuredVideo.youtubeId}` : `/videos/id/${featuredVideo.youtubeId}`))
          img(src=(`https://i.ytimg.com/vi/${featuredVideo.youtubeId}/${device === "phone" ? "mqdefault" : "maxresdefault"}.jpg`) alt=(featuredVideo.title))
          img.youtube-embed__logo(src="/images/icons/youtube-logo-grey.svg")
          img.youtube-embed__logo.youtube-embed__logo--rollover(src="/images/icons/youtube-logo-red.svg")
          h2.youtube-embed__featured Featured
        a.promoted__left-column--video-description(href=`/videos/id/${featuredVideo.youtubeId}`)
          .video-description(href=`/videos/id/${featuredVideo.youtubeId}`)
            .video-description__type= featuredVideo.category.split("-").join(" ")
            .video-description__title= truncate(featuredVideo.title, 50)
    .promoted__right-column
      if channelStats.hottestVideos.length > 0
        .promoted__hottest-videos
          h1 Hottest Videos
          h2 Most Viewed This Month
          ul.promoted__hottest-videos--list
            for video in channelStats.hottestVideos
              +hottestVideoListing(video)
      a.promoted__store-banner(href="https://p110store.bigcartel.com/" target="_blank")        
        img(src="/images/banners/p110-store-banner-400.jpg" alt="P110 Merchandise Store")
      a(href="/album").p110-album-banner--mobile
        picture
          source(srcset="/images/banners/p110-album-banner-mobile.png" media="(max-width: 767px)")
          img(src="/images/banners/p110-album-banner-desktop.png" alt="P110 the Album - Available Now on Spotify, Apple Music & Google Play")
  section.video
    .container
      .section-title
        h2 Latest Videos
        a.underline-hover(href="/videos") View All      
      .video__feed
        if videos.length === 0
          h4 No Videos Found
        else 
          for video in videos
            +videoListing(video)
  section.mixtapes.mixtapes__grey
    .container
      .section-title
        h2 Latest Mixtapes
        a.underline-hover(href="/mixtapes") View All      
      .mixtapes__feed
        if mixtapes.length === 0
          h4 No mixtapes Found
        else 
          for mixtape in mixtapes
            +mixtapeListing(mixtape)
         
  section.news
    .container
      .section-title
        h2 Latest News
        a.underline-hover(href="/news") View All
      .news__feed
        if articles.length === 0
          h4 No Articles Found
        else 
          for article in articles
            +articleListing(article)
        
  section.video-production.video-production__banner
    .container
      .video-production__image
      .video-production__text
        h3 Video Production
        h2 Get your#[br]video online
        p.video-production__text--view-count #{channelStats.viewCount.toLocaleString()} views and counting
        a.button.button-secondary(href="/video-production") Start Now