extends layout

block body
  section.promoted.container
    .promoted__left-column
      if featuredVideo
        a.youtube-embed(href=(admin ? `/admin/videos/edit/${featuredVideo.youtubeId}` : `/videos/id/${featuredVideo.youtubeId}`))
          img(src=(`https://i.ytimg.com/vi/${featuredVideo.youtubeId}/${device === "phone" ? "mqdefault" : "maxresdefault"}.jpg`) alt=(featuredVideo.title))
          img.youtube-embed__logo(src="/images/icons/youtube-logo-grey.svg")
          img.youtube-embed__logo.youtube-embed__logo--rollover(src="/images/icons/youtube-logo-red.svg")
          h2.youtube-embed__featured Featured
        a.promoted__left-column--video-description(href=`/videos/id/${featuredVideo.youtubeId}`)
          .video-description(href=`/videos/id/${featuredVideo.youtubeId}`)
            .video-description__type= featuredVideo.category.split("-").join(" ")
            .video-description__title= featuredVideo.title
    .promoted__right-column
      .promoted__hottest-videos
        h1 Top Grime Videos
        h2 Most Viewed This Week
        ul.promoted__hottest-videos--list
          li
            a.promoted__hottest-videos--list--item(href="/")
              img.play-icon(src="/images/icons/play-icon-white.svg" alt="Play Icon")
              .video-description
                .video-description__type #1take
                .video-description__title Dext - #1TAKE (PT.2)
              .video-viewcount
                .video-viewcount__count 53,590
                .video-viewcount__views Views
          li
            a.promoted__hottest-videos--list--item(href="/")
              img.play-icon(src="/images/icons/play-icon-white.svg" alt="Play Icon")
              .video-description
                .video-description__type P110 Premiere
                .video-description__title SparkaMan - Know How It Goes
              .video-viewcount
                .video-viewcount__count 42,011
                .video-viewcount__views Views
          li
            a.promoted__hottest-videos--list--item(href="/")
              img.play-icon(src="/images/icons/play-icon-white.svg" alt="Play Icon")
              .video-description
                .video-description__type #1take
                .video-description__title Brett Haze - #1TAKE
              .video-viewcount
                .video-viewcount__count 27,781
                .video-viewcount__views Views
          li
            a.promoted__hottest-videos--list--item(href="/")
              img.play-icon(src="/images/icons/play-icon-white.svg" alt="Play Icon")
              .video-description
                .video-description__type Scene smasher
                .video-description__title ESCO X SHADOW ON THE BEAT
              .video-viewcount
                .video-viewcount__count 11,043
                .video-viewcount__views Views
          li
            a.promoted__hottest-videos--list--item(href="/")
              img.play-icon(src="/images/icons/play-icon-white.svg" alt="Play Icon")
              .video-description
                .video-description__type Scene smasher
                .video-description__title Stoney x Jsav x Slitz
              .video-viewcount
                .video-viewcount__count 9,189
                .video-viewcount__views Views
      a.promoted__store-banner(href="https://p110store.bigcartel.com/" target="_blank")        
        img(src="/images/banners/p110-store-banner-400.jpg" alt="P110 Merchandise Store")
      a(href="/album").p110-album-banner--mobile
        picture
          source(srcset="/images/banners/p110-album-banner-mobile.png" media="(max-width: 767px)")
          img(src="/images/banners/p110-album-banner-desktop.png" alt="P110 the Album - Available Now on Spotify, Apple Music & Google Play")
  section.video
    .container
      .section-title
        h2 Latest Videos
        a.underline-hover(href="/videos") View All      
      .video__feed
        if videos.length === 0
          h4 No Videos Found
        else 
          for video in videos
            +videoListing(video)
  section.mixtapes.mixtapes__grey
    .container
      .section-title
        h2 Mixtapes
        a.underline-hover(href="/mixtapes") View All      
      .mixtapes__feed
        a.mixtapes__feed--entry(href="/mixtapes/benzo/-cs-first")
          .mixtapes__feed--entry--cover
            img(src="/images/mixtapes/mixtape-default.png" alt="Mixtape 1")
            img.mixtapes__feed--entry--cover--play-button(src="/images/icons/youtube-logo-grey.svg")
            img.mixtapes__feed--entry--cover--play-button.mixtapes__feed--entry--cover--play-button--rollover(src="/images/icons/youtube-logo-red.svg")
          .mixtapes__feed--entry--text 
            h5 C's First
            p.grey Benzo
        a.mixtapes__feed--entry(href="/mixtapes/benzo/-cs-first")
          .mixtapes__feed--entry--cover
            img(src="/images/mixtapes/TEMP/2.jpg" alt="Mixtape 1")
            img.mixtapes__feed--entry--cover--play-button(src="/images/icons/youtube-logo-grey.svg")
            img.mixtapes__feed--entry--cover--play-button.mixtapes__feed--entry--cover--play-button--rollover(src="/images/icons/youtube-logo-red.svg")
          .mixtapes__feed--entry--text 
            h5 Revenge
            p.grey Axom Nelson
        a.mixtapes__feed--entry(href="/mixtapes/benzo/-cs-first")
          .mixtapes__feed--entry--cover
            img(src="/images/mixtapes/TEMP/3.jpg" alt="Mixtape 1")
            img.mixtapes__feed--entry--cover--play-button(src="/images/icons/youtube-logo-grey.svg")
            img.mixtapes__feed--entry--cover--play-button.mixtapes__feed--entry--cover--play-button--rollover(src="/images/icons/youtube-logo-red.svg")
          .mixtapes__feed--entry--text 
            h5 Game Changers 1 &amp; 2
            p.grey DJ Big Ryde
        a.mixtapes__feed--entry(href="/mixtapes/benzo/-cs-first")
          .mixtapes__feed--entry--cover
            img(src="/images/mixtapes/TEMP/4.jpg" alt="Mixtape 1")
            img.mixtapes__feed--entry--cover--play-button(src="/images/icons/youtube-logo-grey.svg")
            img.mixtapes__feed--entry--cover--play-button.mixtapes__feed--entry--cover--play-button--rollover(src="/images/icons/youtube-logo-red.svg")
          .mixtapes__feed--entry--text 
            h5 In my prime
            p.grey Big Nate
        a.mixtapes__feed--entry(href="/mixtapes/benzo/-cs-first")
          .mixtapes__feed--entry--cover
            img(src="/images/mixtapes/TEMP/5.jpg" alt="Mixtape 1")
            img.mixtapes__feed--entry--cover--play-button(src="/images/icons/youtube-logo-grey.svg")
            img.mixtapes__feed--entry--cover--play-button.mixtapes__feed--entry--cover--play-button--rollover(src="/images/icons/youtube-logo-red.svg")
          .mixtapes__feed--entry--text 
            h5 blue magic
            p.grey Coll
        a.mixtapes__feed--entry(href="/mixtapes/benzo/-cs-first")
          .mixtapes__feed--entry--cover
            img(src="/images/mixtapes/TEMP/6.jpg" alt="Mixtape 1")
            img.mixtapes__feed--entry--cover--play-button(src="/images/icons/youtube-logo-grey.svg")
            img.mixtapes__feed--entry--cover--play-button.mixtapes__feed--entry--cover--play-button--rollover(src="/images/icons/youtube-logo-red.svg")
          .mixtapes__feed--entry--text 
            h5 still crafting
            p.grey Unknown
         
  section.news
    .container
      .section-title
        h2 Latest News
        a.underline-hover(href="/news") View All
      .news__feed
        if articles.length === 0
          h4 No Articles Found
        else 
          for article in articles
            +articleListing(article)
        
  section.instagram-feed
    .container
      .section-title
        a.instagram-feed__title(href="https://www.instagram.com/p110media/" target="_blank")
          img(src="/images/icons/instagram-logo-white.svg" alt="Instagram Logo")
          h3 P110Media
        a.underline-hover(href="https://www.instagram.com/p110media/" target="_blank") View All
      .instagram-feed__images        
        a.instagram-feed__image(href="https://www.instagram.com/p110media/" target="_blank")
          .instagram-feed__image--container
            img(src="/images/TEMP_instagram/1.jpg")
        a.instagram-feed__image(href="https://www.instagram.com/p110media/" target="_blank")
          .instagram-feed__image--container
            img(src="/images/TEMP_instagram/2.jpg")
        a.instagram-feed__image(href="https://www.instagram.com/p110media/" target="_blank")
          .instagram-feed__image--container
            img(src="/images/TEMP_instagram/3.jpg")
        a.instagram-feed__image(href="https://www.instagram.com/p110media/" target="_blank")
          .instagram-feed__image--container
            img(src="/images/TEMP_instagram/4.jpg")
        a.instagram-feed__image(href="https://www.instagram.com/p110media/" target="_blank")
          .instagram-feed__image--container
            img(src="/images/TEMP_instagram/5.jpg")
        a.instagram-feed__image(href="https://www.instagram.com/p110media/" target="_blank")
          .instagram-feed__image--container
            img(src="/images/TEMP_instagram/6.jpg")
  section.video-production.video-production__banner
    .container
      .video-production__image
      .video-production__text
        p Video Production
        h2 Get your#[br]video online
        a.button.button-secondary(href="/video-production") Start Now