extends layout

block body
  section.mixtapes
    .container
      .back-links
        a.back-links__link.underline-hover(href="/mixtapes") << Back to mixtapes
        if user
          a.back-links__link.underline-hover(href=(`/admin/mixtapes/edit/${mixtape._id}`)) Edit as Admin
      .mixtapes__article
        article.mixtapes__article--content
          .mixtapes__article--content--title
            .video-description__type= mixtape.artistList
            h1= mixtape.title
          //- Format \n into <br />
          .mixtapes__article--content--sections
            div
              img(src=`/images/mixtapes/${mixtape._id}/large.jpg`)
              +socialSharingIcons
            div              
              h3 Listen Now
              a.button.button__yellow(href=`/mixtapes/${mixtape._id}/${mixtape.fullTitle}.zip`) 
                img(src="/images/icons/download-button.svg")
                div Download Mixtape
              - const released = moment(mixtape.releaseDate).format("Do MMMM YYYY")
              p.release-date
                em Released on #{released}
              if mixtape.description
                -
                  description = mixtape.description
                    .replace(/(?:\r\n|\r|\n)/g, '<br/>')
                .mixtapes__article--content--text= description
            if mixtape.trackListing.length > 0
              div
                h3 Track Listing      
                .mixtapes__track-listing
                  for track, index in mixtape.trackListing
                    .mixtapes__track-listing--entry
                      .mixtapes__track-listing--entry--number= index
                      .mixtapes__track-listing--entry--title= track.title
                      if track.duration !== "0:00"
                        .mixtapes__track-listing--entry--duration= track.duration
        aside.mixtapes__article--sidebar
          h3 Latest mixtapes
          .mixtapes__feed
            for mixtape in latestMixtapes
              +mixtapeListing(mixtape)