extends layout

block body
  section.news
    .container
      .back-links
        a.back-links__link.underline-hover(href="/news") << Back to News
        if user
          a.back-links__link.underline-hover(href=(`/admin/news/edit/${article.slug}`)) Edit as Admin
      .news__article
        article.news__article--content
          .news__article--content--title
            h1= article.title
          if article.cover.type === "youtube"
            .youtube-embed
              iframe(src=`https://www.youtube.com/embed/${article.cover.youtubeId}?rel=0&amp;showinfo=0&amp;autoplay=1` frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          else 
            img(src=`/images/articles/${article._id}/large.jpg` alt=article.title)
          +socialSharingIcons
          time.news__article--content--date(datetime=article.createdAt)!= moment(article.createdAt).format('dddd Mo MMMM[,] YYYY')
          .news__article--content--text!= article.html
        aside.news__article--sidebar.news__feed
          h3 Latest News Stories        
          if latestArticles.length === 0
            p No more articles found
          else 
            for article in latestArticles
              +articleListing(article)