extends layout

block body
  section.video
    .container
      .back-links
        a.back-links__link.underline-hover(href="/videos") << Back to Videos
        if user
          a.back-links__link.underline-hover(href=(`/admin/videos/edit/${video.youtubeId}`)) Edit as Admin
      .video__article
        article.video__article--content
          .video__article--content--title
            .video-description__type= video.category.split('-').join(' ')
            h1= video.title
          .youtube-embed
            iframe(src=`https://www.youtube.com/embed/${video.youtubeId}?rel=0&amp;showinfo=0&autoplay=1` frameborder="0" allow="autoplay; encrypted-media" allowfullscreen)
          +socialSharingIcons
          //- Format \n into <br />
          .video__article--content--text !{video.description.replace(/(?:\r\n|\r|\n)/g, '<br/>')}
        aside.video__article--sidebar.video__feed
          h3 Latest Videos
          for video in latestVideos
            +videoListing(video)