mixin videoListing(video, admin = false, youtube = false)
  a.latest-videos__feed--entry(href=(admin ? `/admin/videos/edit/${video.youtubeId}` : `/videos/id/${video.youtubeId}`))
    .youtube-embed
      img(src=(video.rawData.snippet.thumbnails.medium.url) alt=(video.title))
      if !admin
        img.youtube-embed__logo(src="/images/icons/youtube-logo-grey.svg")
        img.youtube-embed__logo.youtube-embed__logo--rollover(src="/images/icons/youtube-logo-red.svg")
    .video-description
      .video-description__type=video.category.split("-").join(" ")
      .video-description__title=video.title
      .video-description__published=moment(video.rawData.snippet.publishedAt).fromNow()